$("#new-ann-title").val("");
$("#new-ann-message").val("");
$("#new-ann").hide();
$("#new-ann-button").show();

var ann_id_title = 'announcement_' + '<%= @announcement.id %>' + '_title';
var ann_id_message = 'announcement_' + '<%= @announcement.id %>' + '_message';
var ann_title = '<%= @announcement.title %>';
var ann_date = '<%= @announcement.updated_at.strftime("%m/%d/%Y") %>';
var ann_message = '<%= @announcement.message %>';

$("#announcement_container").prepend(
  '<div class="panel panel-default"><div id=' + ann_id_title + ' class="panel-body">' + ann_title + '<div style="float: right;">' + ann_date + '</div></div><div id=' + ann_id_message + ' class="collapse well well-lg">' + ann_message + '</div></div>'
);
