= form_for [course, @assignment] do |f|
  .panel
    %div{:class => ["input-group", "input-group-lg"]}
      %span{:class => ["input-group-addon"], :id => "sizing-addon1"} Title
      = f.text_field :title, class: "form-control"
  .panel
    %div{:class => ["input-group", "input-group-lg"]}
      %span{:class => ["input-group-addon"], :id => "sizing-addon1"} Description
      = f.text_area :description, class: "form-control"
  .panel
    %div{:class => ["input-group", "input-group-lg"]}
      %span{:class => ["input-group-addon"], :id => "sizing-addon1"} Due Date
      = f.date_select :due_date, class: "form-control"
  #documents
    = f.fields_for :documents do |doc|
      = render 'document_fields', f: doc
    .links
      = link_to_add_association 'Add Document', f, :documents, class: "btn bnt-lg btn-info doc-button"
    %br
    = f.submit 'Create Assignment', class: "btn bnt-lg btn-success btn-block"
