<p id="notice"><%= notice %></p>
<div class="page-header">
  <h4 class="text-left">
    <%= link_to course_path(@course) do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To <%= "#{@course.name}" %>
    <% end %>
  </h4>
  <div class="row">
  <h1 class="text-left col-md-10">
    <%= "#{@course.name} - #{@assignment.title}" %>
    <br/>
    <small>Due Date: <%= "#{@assignment.due_date.strftime("%m - %d - %Y")}" %></small>
  </h1>
  <%= delete_button(@course, current_user.id) %>
</div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
      <%= best_in_place_if is_course_professor?(@course, current_user.id), @assignment, :description, :as => :textarea, :display_with => :simple_format,
      :url => course_assignment_path(@course, @assignment),
      :ok_button => "Submit", :ok_button_class => "btn btn-success bip-button",
      :cancel_button => "Cancel", :cancel_button_class => "btn btn-danger bip-button" %>
    </div>
  </div>
  <%= add_documents(@course, @assignment, current_user.id) %>
</div>
