<div class="page-header">
  <h1 class="text-left">
    Forgot your Password?
  </h1>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Email</span>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel">
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-warning btn-block" %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "devise/shared/links", locals: {w: 3} %>
