<div class="page-header">
  <h1 class="text-left">
    Log in
  </h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="panel">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Email</span>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="panel">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Password</span>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
      <%= f.check_box :remember_me %>Remember me?
      </label>
    </div>
  <% end -%>

  <div class="col-md-6">
    <div class="panel">
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>

<% end %>

<%= render partial: "devise/shared/links", locals: {w: 3} %>
