<div class="page-header">
  <h4 class="text-left">
    <%= link_to course_assignment_path(@course, @assignment) do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To <%= "#{@assignment.title}" %>
    <% end %>
  </h4>
  <div class="row">
    <h1 class="text-left col-md-10">
      <%= "#{@assignment.title}" %>
      <br/>
      <small>Homework Submissions</small>
    </h1>
  </div>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Student ID</th>
    <th colspan="2">Student email</th>
    <th style="text-align:left;" colspan="2">Student Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @homework.each do |hw| %>
      <tr>
        <td><%= "#{hw.user.id}" %></td>
        <td colspan="2"><%= "#{hw.user.email}" %></td>
        <td style="text-align:left;" colspan="2"><%= "#{hw.user.surname} #{hw.user.name}" %></td>
        <td><%= get_student_homework(@course, @assignment, hw.user.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
