
  <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="panel">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Code</span>
        <%= f.text_field :code, class: "form-control" %>
      </div>
    </div>
    <div class="panel">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Name</span>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="panel">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Professor</span>
        <%= f.select :lecturer_id, @professors, {}, {:class => "my_select input-group input-group-lg"} %>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="panel">
        <div class="actions">
          <!-- <%= f.submit "Submit", class: "btn btn-default btn-lg btn-success pull-right"%> -->
          <%= f.submit "Submit", class: "btn btn-success btn-block"%>
        </div>
      </div>
    </div>
<% end %>
