
  <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :code, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :code %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, class: "col-sm-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :professor, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.select(:lecturer_id, @professors) %>
      </div>
    </div>
    <div class="col-sm-8" </div>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-default btn-lg btn-success pull-right"%>
      </div>
    </div>
<% end %>
