<%= will_paginate @courses %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Code</th>
    <th colspan="2">Name</th>
    <th style="text-align:left;" colspan="2">Lecturer</th>
    <th style="text-align:right;" colspan="2">Students Attending</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td colspan="2"><%= link_to course.name, course %></td>
        <td style="text-align:left;" colspan="2"><%= "#{@professors[course.id].surname} #{@professors[course.id].name}" %></td>
        <td style="text-align:right;" colspan="2"><div style="inline" id='<%= "course_#{course.id}_att" %>'><%= @attending[course.id] %></div></td>
        <td>
          <div style="inline" id='<%= "course_#{course.id}" %>'>
            <% if(@enrolled.include?(course.id)) %>
              <%= render :partial => 'withdraw', locals: {course: course} %>
            <% else %>
              <%= render :partial => 'enroll', locals: {course: course} %>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div id="abcd"></div>
