<h1 class="pull-left">My Courses</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Code</th>
    <th colspan="2">Name</th>
    <th style="text-align:left;" colspan="2">Lecturer</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td colspan="2"><%= link_to course.name, course %></td>
        <td style="text-align:left;" colspan="2"><%= "#{course.lecturer.surname} #{course.lecturer.name}" %></td>
        <td><%= link_to 'Withdraw', course_withdraw_path(course), data: { confirm: 'Are you sure?'}, :class => "btn btn-danger btn-block" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @courses, :class => "apple_pagination"  %>
