<p id="notice"><%= notice %></p>
<div class="page-header">
  <h4 class="text-left">
    <%= link_to courses_path do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Courses
    <% end %>
  </h4>
  <h1 class="text-left">
    <%= "#{@course.code} - #{@course.name}" %>
    <br/>
    <small><%= "#{@lecturer.surname} #{@lecturer.name}" %></small>
  </h1>
</div>
<div id="test"></div>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#menu1">Description</a></li>
    <li><a data-toggle="tab" href="#menu2">Announcements</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 2</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
      <div class="page-header">
        <h3 class="text-left">Description</h3>
      </div>
      <div id="desc-container" class="panel">
        <%= @course.description %>
      </div>
      <% if is_course_professor?(@course) %>
        <div class="panel panel-default">
          <button class="btn bnt-lg btn-primary btn-block" id="edit-desc-button">Edit Description</button>
          <div id="edit-desc" style="display: none;">
            <%= render :partial => "description", locals: {course: @course} %>
            <button class="btn bnt-lg btn-danger btn-block" id="edit-desc-button-cancel">Cancel</button>
          </div>
        </div>

        <script>
          $(function(){
            $(document).on("click","#edit-desc-button",function(){
              $("#edit-desc-button").hide();
              $("#desc-container").hide();
              $("#edit-desc").show();
            });
          });

          $(function(){
            $(document).on("click","#edit-desc-button-cancel",function(){
              $("#edit-desc").hide();
              $("#edit-desc-button").show();
              $("#desc-container").show();
            });
          });

        </script>

      <% end %>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="page-header">
        <h3 class="text-left">Announcements</h3>
      </div>
      <% if is_course_professor?(@course) %>
        <div class="panel panel-default">
          <button class="btn bnt-lg btn-success btn-block" id="new-ann-button">New Announcement</button>
          <div id="new-ann" style="display: none;">
            <%= render :partial => 'announcements/form', locals: {course: @course} %>
            <button class="btn bnt-lg btn-danger btn-block" id="new-ann-button-cancel">Cancel</button>
          </div>
          <script>
            $(document).ready(function(){
              $("#new-ann-button").click(function(){
                $("#new-ann-button").hide();
                $("#new-ann").show();
              });
              $("#new-ann-button-cancel").click(function(){
                $("#new-ann").hide();
                $("#new-ann-button").show();
                $("#new-ann-title").val("");
                $("#new-ann-message").val("");
              });
            });
          </script>
        </div>
      <% end %>
      <div id="announcement_container">
        <% @announcements.each do |ann| %>
          <% if ann.created_at.nil? %>
            <% next %>
          <% end %>
          <div class="panel panel-default">
          <div id='<%= "announcement_#{ann.id}_title" %>' class="panel-body">
            <%= ann.title %>
            <div style="float: right;">
              <%= ann.updated_at.strftime("%m/%d/%Y") %>
            </div>
          </div>
          <div id='<%= "announcement_#{ann.id}_message" %>' class="collapse well well-lg">
            <%= ann.message %>
          </div>
        </div>
        <% end %>
      </div>
      <script>
        $(document).ready(function(){
          $('[id^=announcement_]').click(function(event){
            var tar = "#" + event.target.id.slice(0, event.target.id.length - 5) + "message";
            $(tar).collapse('toggle');
          });
        });
      </script>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
<script>
$(function() {
  //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
  $('a[data-toggle="tab"]').on('click', function (e) {
    //save the latest tab; use cookies if you like 'em better:
    localStorage.setItem('lastTab', $(e.target).attr('href'));
  });

  //go to the latest tab, if it exists:
  var lastTab = localStorage.getItem('lastTab');

  if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
  }
});
</script>
