<p id="notice"><%= notice %></p>
<div class="page-header">
  <h4 class="text-left">
    <%= link_to courses_path do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Courses
    <% end %>
  </h4>
  <h1 class="text-left">
    <%= "#{@course.code} - #{@course.name}" %>
    <br/>
    <small><%= "#{@lecturer.surname} #{@lecturer.name}" %></small>
  </h1>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4" id='<%= "course_#{@course.id}" %>'>
      <%= add_attending_students(@course, current_user.id) %>
      <%= add_enroll_withdraw_if_undergrad(@course, current_user) %>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#menu1">Description</a></li>
    <li><a data-toggle="tab" href="#menu2">Announcements</a></li>
    <li><a data-toggle="tab" href="#menu3">Assignments</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
      <div class="page-header">
        <h3 class="text-left">Description</h3>
      </div>
      <div id="desc-container" class="panel">
        <%= best_in_place_if is_course_professor?(@course, current_user.id),
          @course, :description, :as => :textarea, :ok_button => "Submit", :ok_button_class => "btn btn-success btn-block",
          :cancel_button => "Cancel", :cancel_button_class => "btn btn-danger btn-block", :display_with => :simple_format,
          :html_attrs => { :style => "width: 100%;" }
         %>
      </div>

    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="page-header">
        <h3 class="text-left">Announcements</h3>
      </div>
      <%= professor_announcements(@course, current_user.id) %>
      <div id="announcement_container">
        <% @course.announcements.each do |ann| %>
          <% if ann.created_at.nil? %>
            <% next %>
          <% end %>
          <div class="panel panel-default">
            <div id='<%= "announcement_#{ann.id}_title" %>' class="panel-body">
              <%= best_in_place_if is_course_professor?(@course, current_user.id), ann, :title, :url => course_announcement_path(@course, ann),
              :ok_button => "Submit", :ok_button_class => "btn btn-success bip-button",
              :cancel_button => "Cancel", :cancel_button_class => "btn btn-danger bip-button",
              :html_attrs => { :cols => 100 } %>
              <div class="pull-right">
                <%= ann.updated_at.strftime("%m/%d/%Y") %>
              </div>
            </div>
            <div id='<%= "announcement_#{ann.id}_message" %>' class="collapse well well-lg">
              <%= best_in_place_if is_course_professor?(@course, current_user.id), ann, :message, :as => :textarea, :url => course_announcement_path(@course, ann),
              :ok_button => "Submit", :ok_button_class => "btn btn-success bip-button",
              :cancel_button => "Cancel", :cancel_button_class => "btn btn-danger bip-button" %>
            </div>
          </div>
        <% end %>
      </div>
      <script>
        $(document).ready(function(){
          $('[id^=announcement_]').click(function(event){
            var tar = "#" + event.target.id.slice(0, event.target.id.length - 5) + "message";
            $(tar).collapse('toggle');
          });
        });
      </script>
    </div>
    <div id="menu3" class="tab-pane fade">
      <div class="page-header">
        <h3 class="text-left">Assignments</h3>
      </div>
      <%= add_assignments(@course) %>
      <%= add_new_assignment(@course, current_user.id) %>
    </div>
  </div>
</div>
<script>
$(function() {
  //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
  $('a[data-toggle="tab"]').on('click', function (e) {
    //save the latest tab; use cookies if you like 'em better:
    localStorage.setItem('lastTab', $(e.target).attr('href'));
  });

  //go to the latest tab, if it exists:
  var lastTab = localStorage.getItem('lastTab');

  if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
  }
});
</script>
