<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Eclass", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Home",   root_path %></li>
        <li><a href="/pages/help.html" target="_self">Help</a></li>
        <% if(user_signed_in?) %>
          <% if(current_user.admin?) %>
            <%= link_to "Manage Courses", 
          <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
